In [1]:
import numpy as np
import pandas as pd

from pyplink import PyPlink

from basic_tools import *

In [2]:
plink_KCHIP_HLA_AA_SNP_1000G=PyPlink(plink_KCHIP_HLA_AA_SNP_1000G_path)
plink_KCHIP_HLA_AA_SNP_1000G_fam=plink_KCHIP_HLA_AA_SNP_1000G.get_fam().astype({'fid':str,'iid':str}).rename(columns={'fid':'FID','iid':'IID'})
plink_KCHIP_HLA_AA_SNP_1000G_bim=plink_KCHIP_HLA_AA_SNP_1000G.get_bim()

In [3]:
SNP_DB=pd.read_csv('data/mart_export_SNP.txt',sep='\t')

# O

In [4]:
pos=31324497
SNP_DB[(SNP_DB['Chromosome/scaffold position start (bp)']<=pos)&
       (SNP_DB['Chromosome/scaffold position end (bp)']>=pos)]

,Variant name,Variant source,Chromosome/scaffold name,Chromosome/scaffold position start (bp),Chromosome/scaffold position end (bp),Variant alleles
726786,rs746718295,dbSNP,6,31324494,31324497,AGGT/-
726787,rs878867447,dbSNP,6,31324494,31324506,AGGTTCCGCAGGC/GCGGTGCGCAGGT
726789,rs770563406,dbSNP,6,31324495,31324497,GGT/-
726792,rs1131223,dbSNP,6,31324497,31324497,T/A/G
726793,rs66473235,dbSNP,6,31324497,31324498,TT/T
726794,rs1554212002,dbSNP,6,31324497,31324507,TTCCGCAGGCT/GTCCGCAGGTC

In [5]:
plink_KCHIP_HLA_AA_SNP_1000G_bim[plink_KCHIP_HLA_AA_SNP_1000G_bim['pos']==pos]

                             chrom       pos  cm a1 a2
snp
AA_B_80_31324497_exon2_I         6  31324497   0  p  a
AA_B_80_31324497_exon2_N         6  31324497   0  p  a
AA_B_80_31324497_exon2_T         6  31324497   0  p  a
SNPS_B_439_31324497_exon2_A      6  31324497   0  p  a
SNPS_B_439_31324497_exon2_G      6  31324497   0  p  a
SNPS_B_439_31324497_exon2_T      6  31324497   0  p  a

# X

In [6]:
pos=32632237
SNP_DB[(SNP_DB['Chromosome/scaffold position start (bp)']<=pos)&
       (SNP_DB['Chromosome/scaffold position end (bp)']>=pos)]

,Variant name,Variant source,Chromosome/scaffold name,Chromosome/scaffold position start (bp),Chromosome/scaffold position end (bp),Variant alleles
1040692,rs9274326,dbSNP,6,32632237,32632237,C/A/G/T

In [7]:
plink_KCHIP_HLA_AA_SNP_1000G_bim[plink_KCHIP_HLA_AA_SNP_1000G_bim['pos']==pos]

                chrom       pos  cm a1 a2
snp
6:32632237_C/T      6  32632237   0  C  T

# O

In [8]:
pos=29896680
SNP_DB[(SNP_DB['Chromosome/scaffold position start (bp)']<=pos)&
       (SNP_DB['Chromosome/scaffold position end (bp)']>=pos)]

,Variant name,Variant source,Chromosome/scaffold name,Chromosome/scaffold position start (bp),Chromosome/scaffold position end (bp),Variant alleles
406010,rs2517754,dbSNP,6,29896680,29896680,A/G

In [9]:
plink_KCHIP_HLA_AA_SNP_1000G_bim[plink_KCHIP_HLA_AA_SNP_1000G_bim['pos']==pos]

                chrom       pos  cm a1 a2
snp
6:29896680_A/G      6  29896680   0  A  G

# O

In [10]:
pos=32638199
SNP_DB[(SNP_DB['Chromosome/scaffold position start (bp)']<=pos)&
       (SNP_DB['Chromosome/scaffold position end (bp)']>=pos)]

,Variant name,Variant source,Chromosome/scaffold name,Chromosome/scaffold position start (bp),Chromosome/scaffold position end (bp),Variant alleles
1043869,rs11751495,dbSNP,6,32638199,32638199,C/G

In [11]:
plink_KCHIP_HLA_AA_SNP_1000G_bim[plink_KCHIP_HLA_AA_SNP_1000G_bim['pos']==pos]

                chrom       pos  cm a1 a2
snp
6:32638199_C/G      6  32638199   0  G  C

# X

In [12]:
pos=34185749
SNP_DB[(SNP_DB['Chromosome/scaffold position start (bp)']<=pos)&
       (SNP_DB['Chromosome/scaffold position end (bp)']>=pos)]

,Variant name,Variant source,Chromosome/scaffold name,Chromosome/scaffold position start (bp),Chromosome/scaffold position end (bp),Variant alleles
1396124,rs2797963,dbSNP,6,34185749,34185749,C/G/T

In [13]:
plink_KCHIP_HLA_AA_SNP_1000G_bim[plink_KCHIP_HLA_AA_SNP_1000G_bim['pos']==pos]

                chrom       pos  cm a1 a2
snp
6:34185749_C/T      6  34185749   0  C  T

# X

In [14]:
pos=34172055
SNP_DB[(SNP_DB['Chromosome/scaffold position start (bp)']<=pos)&
       (SNP_DB['Chromosome/scaffold position end (bp)']>=pos)]

,Variant name,Variant source,Chromosome/scaffold name,Chromosome/scaffold position start (bp),Chromosome/scaffold position end (bp),Variant alleles
1392981,rs1187115,dbSNP,6,34172055,34172055,C/A
1392982,rs754595560,dbSNP,6,34172055,34172055,C/-

In [15]:
plink_KCHIP_HLA_AA_SNP_1000G_bim[plink_KCHIP_HLA_AA_SNP_1000G_bim['pos']==pos]

                chrom       pos  cm a1 a2
snp
6:34172055_C/A      6  34172055   0  C  A

# X

In [16]:
pos=34205465
SNP_DB[(SNP_DB['Chromosome/scaffold position start (bp)']<=pos)&
       (SNP_DB['Chromosome/scaffold position end (bp)']>=pos)]

GGAGCCGGAGCC
GGAGCCGGAGCCGGAGCC

,Variant name,Variant source,Chromosome/scaffold name,Chromosome/scaffold position start (bp),Chromosome/scaffold position end (bp),Variant alleles
1401289,rs1261237448,dbSNP,6,34205429,34205466,GGCGCACCTCGCGCGGCGGCCGCTCCCGCTGGAGCCGG/G
1401309,rs1290498218,dbSNP,6,34205459,34205470,GGAGCCGGAGCC/GGAGCCGGAGCCGGAGCC
1401312,rs370788671,dbSNP,6,34205465,34205465,G/C

In [17]:
plink_KCHIP_HLA_AA_SNP_1000G_bim[plink_KCHIP_HLA_AA_SNP_1000G_bim['pos']==pos]

                      chrom       pos  cm a1       a2
snp
6:34205465_G/GGAGCCC      6  34205465   0  G  GGAGCCC

# X

In [18]:
pos=34185749
SNP_DB[(SNP_DB['Chromosome/scaffold position start (bp)']<=pos)&
       (SNP_DB['Chromosome/scaffold position end (bp)']>=pos)]

,Variant name,Variant source,Chromosome/scaffold name,Chromosome/scaffold position start (bp),Chromosome/scaffold position end (bp),Variant alleles
1396124,rs2797963,dbSNP,6,34185749,34185749,C/G/T

In [19]:
plink_KCHIP_HLA_AA_SNP_1000G_bim[plink_KCHIP_HLA_AA_SNP_1000G_bim['pos']==pos]

                chrom       pos  cm a1 a2
snp
6:34185749_C/T      6  34185749   0  C  T

# X

In [20]:
pos=29522712
SNP_DB[(SNP_DB['Chromosome/scaffold position start (bp)']<=pos)&
       (SNP_DB['Chromosome/scaffold position end (bp)']>=pos)]

,Variant name,Variant source,Chromosome/scaffold name,Chromosome/scaffold position start (bp),Chromosome/scaffold position end (bp),Variant alleles
319739,rs2534791,dbSNP,6,29522712,29522712,A/G/T

In [21]:
plink_KCHIP_HLA_AA_SNP_1000G_bim[plink_KCHIP_HLA_AA_SNP_1000G_bim['pos']==pos]

             chrom       pos  cm a1 a2
snp
AX-11397307      6  29522712   0  G  A

# X

In [22]:
pos=29698050
SNP_DB[(SNP_DB['Chromosome/scaffold position start (bp)']<=pos)&
       (SNP_DB['Chromosome/scaffold position end (bp)']>=pos)]

,Variant name,Variant source,Chromosome/scaffold name,Chromosome/scaffold position start (bp),Chromosome/scaffold position end (bp),Variant alleles
356582,rs2743925,dbSNP,6,29698050,29698050,A/C/G

In [23]:
plink_KCHIP_HLA_AA_SNP_1000G_bim[plink_KCHIP_HLA_AA_SNP_1000G_bim['pos']==pos]

                chrom       pos  cm a1 a2
snp
6:29698050_A/G      6  29698050   0  G  A